.number-box-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  padding: 0;
}
.number-box-container .circular-progress-bar {
  padding: 7px;
  background-color: #fff;
  min-width: 65px;
  max-width: 65px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgb(0 0 0 / 15%);
}

/* .number-box-container .number-box-info {
} */
.number-box-container .number-box-info h3 {
  font-size: 1.2rem;
  font-weight: 400;
  white-space: nowrap;
}
.number-box-container .number-box-info p {
  font-size: 0.8rem;
}



@media screen and (max-width: 990px) {
  .number-box-container .circular-progress-bar {
    padding: 5px;
    background-color: #fff;
    min-width: 70px;
    max-width: 70px;
  }
}
@media screen and (max-width: 700px) {
  .number-box-container {
    padding: 0 10px;
  }
}
@media screen and (max-width: 600px) {
  .number-box-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
    padding: 0;
  }
  .number-box-container .circular-progress-bar {
    padding: 5px;
    background-color: #fff;
    min-width: 70px;
    max-width: 70px;
  }
  .number-box-container .number-box-info {
    text-align: center;
  }
  .number-box-container .number-box-info h3 {
    font-size: 1.1rem;
    font-weight: 400;
  }
  .number-box-container .number-box-info p {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 1500px) {
  .number-box-container .circular-progress-bar {
    min-width: 75px;
    max-width: 75px;
  }
  .number-box-container .number-box-info h3 {
    font-size: 1.3rem;
  }
  .number-box-container .number-box-info p {
    font-size: 0.9rem;
  }
  
}
@media screen and (min-width: 1750px) {
  .number-box-container .circular-progress-bar {
    padding: 10px;
    min-width: 95px;
    max-width: 95px;
  }
  .number-box-container .number-box-info h3 {
    font-size: 1.5rem;
  }
  .number-box-container .number-box-info p {
    font-size: 1rem;
  }
}