.attendance-page-container {
  width: 100%;
  padding: 25px;
  min-height: calc(100vh - 50px);
  background: rgb(224,233,255);
  background: linear-gradient(0deg, rgba(224,233,255,1) 0%, rgba(255,255,255,1) 100%);
  position: relative;
  top: 50px;
  margin-bottom: 25px;
  /* z-index: 3; */
}
.attendance-page-container .header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.attendance-page-container .header img {
  width: 60px;
}
.attendance-page-container .header h2 {
  font-weight: 400;
  font-size: 28px;
  color: var(--text-color);
}



.attendance-page-container .buttons ul {
  display: flex;
  padding: 25px 25px 0 25px;
}
.attendance-page-container .buttons ul li {
  padding: 10px 20px;
  color: #6477AA90;
  border-radius: 10px 10px 0 0;
  text-align: center;
  font-size: 1.1rem;
  cursor: pointer;
  transition: .3s;
  background-color: #EBF1FF80;
}
.attendance-page-container .buttons ul li.active {
  background-color: #EBF1FF;
  color: var(--text-color);
  border-top: 1px solid #00000007;
  border-right: 1px solid #00000007;
  border-left: 1px solid #00000007;
}


.attendance-sections-container {
  background-color: #EBF1FF;
  width: calc(100% + 50px);
  min-height: 300px;
  position: relative;
  left: -25px;
}




.bg-img-world {
  width: 200vh;
  position: absolute;
  top: -50vh;
  right: -110vh;
  opacity: 0.15;
  /* z-index: -1; */
}




@media screen and (max-width: 1500px) and (min-width: 890px) {
  .attendance-page-container .buttons ul li {
    padding: 7px 17px;
    border-radius: 10px 10px 0 0;
    font-size: 1rem;
  }
}

@media screen and (max-width: 890px) {
  .bg-img-world {
    width: 120vh;
    top: 0;
    right: 0;
  }

  .attendance-page-container .buttons ul {
    display: flex;
    padding: 25px 0 10px 0;
    flex-wrap: wrap;
  }
  .attendance-page-container .buttons ul li {
    border-radius: 5px;
    font-size: 0.7rem;
    padding: 5px 10px;
  }
}