.history-navigation {
  width: calc(100vw - 50px);
  height: 35px;
  padding: 5px 25px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: fixed;
  top: 50px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 7%);
  z-index: 5
}
.history-navigation .links {
  display: flex;
  gap: 20px;
}

.history-navigation .links a,
.history-navigation .links p {
  font-weight: 400;
  line-height: 1.7;
  color: #aaa !important;
  position: relative;
}
.history-navigation .links a:not(:last-child) {
  font-weight: 600;
  color: var(--main-color) !important;
}
.history-navigation .links a::after {
  content: '';
  position: absolute;
  right: -16px;
  top: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #e8e8e8;
  clear: both;
  transform: rotate(-90deg);
}


.history-navigation .time {
  color: var(--main-color) !important;
  font-weight: 500;
  position: fixed;
  right: 25px;
}

@media screen and (max-width: 800px) {
  .history-navigation {
    width: 100vw;
  }
}
@media screen and (max-width: 650px) {
  .history-navigation .time {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  
  .history-navigation .links a, 
  .history-navigation .links p {
    line-height: 1.8;
    font-size: 0.6rem;
  }
  .history-navigation .links a::after {
    top: 6px;
  }
}