.sticky-notes-container {
  background-color: #FFF3CC !important;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 15px #6477aa30;
}
.sticky-notes-container .header {
  display: flex;
  justify-content: space-between;
}
.sticky-notes-container .header .action-btns .action-btn {
  background-color: transparent;
  border: 1px solid var(--main-color);
  line-height: 1;
  padding: 3px 5px;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 5px;
}
.sticky-notes-container .header .action-btns .action-btn.save-btn {
  color: #277c62;
  border: 1px solid #277c62;
}
.sticky-notes-container .header .action-btns .action-btn.cancel-btn {
  color: #ff272b;
  border: 1px solid #ff272b;
}
.add-new-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.add-new-form input {
  display: block;
  width: 100%;
  background: #fff;
  border: 1px solid var(--main-color);
  border-radius: 3px;
  padding: 5px 10px;
  outline: none;
  font-size: 1rem;
  color: var(--main-color);
  line-height: 1;
}
.add-new-form textarea {
  background: #fff;
  display: block;
  width: 100%;
  resize: none;
  border: 1px solid var(--main-color);
  border-radius: 3px;
  color: var(--main-color);
  outline: none;
  padding: 10px;
  line-height: 1;
}
.add-new-form input::placeholder { color: rgba(0, 0, 0, 15%); }
.add-new-form textarea::placeholder { color: rgba(0, 0, 0, 15%); }


.sticky-notes-container .header h2 {
  font-weight: 400;
  font-size: 1.3rem;
  padding-bottom: 15px;
}

.sticky-notes-container .note {

}
.sticky-notes-container .note .note-title{
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 5px !important; 
}
.sticky-notes-container .note .note-description{
  padding: 0 0 15px 0;
  font-weight: 100;
  font-size: 0.7rem;
  line-height: 1.3;
  word-break: break-word;
}

.sticky-notes-container .dots {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 100%;
  align-items: flex-end;
}

.sticky-notes-container .dots span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #DBE4FC;
  cursor: pointer;
  transition: 0.1s;
}
.sticky-notes-container .dots span:hover {
  background-color: var(--text-color);
  transform: scale(1.05);
}
.sticky-notes-container .dots span.active {
  border-style: solid;
  border: 2px solid #DBE4FC;
  background-color: var(--text-color);
  transform: scale(1.2);
}