.three-divisions {
  min-height: calc(100vh - 85px);
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  margin: 50px 25px 25px 25px;
  gap: 50px;
  position: relative;
}
.three-divisions > img {
  width: 150vh;
  position: absolute;
  top: -25vh;
  right: -50vh;
  opacity: 0.15;
  z-index: 1;
  display: none;
}




.three-divisions .media-center {
  width: calc(100% / 3);
  /* z-index: 2; */
}
.three-divisions .media-center .header,
.three-divisions .community-news .header,
.three-divisions .twitter-wid .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  margin-bottom: 20px;
  background-color: var(--main-color);
  border-radius: 5px;
}
.three-divisions .twitter-wid .header {
  margin: 0;
  border-radius: 5px 5px 0 0;
}
.three-divisions .media-center .header h3,
.three-divisions .community-news .header h3,
.three-divisions .twitter-wid .header h3 {
  font-size: 1.4em;
  font-weight: 400;
  color: #fff !important;
  line-height: 1;
}
.three-divisions .media-center .header a,
.three-divisions .community-news .header a {
  color: #fff;
  font-size: 1.1em;
  line-height: 1 !important;
}
.three-divisions .media-center .header a:hover,
.three-divisions .community-news .header a:hover {
  color: #fff !important;
  text-decoration: underline;
}

.three-divisions .media-center .gallerys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  height: calc(100% - 65px);
}
.three-divisions .media-center .gallerys .gallery {
  border-radius: 10px;
  transition: .5s;
}
.three-divisions .media-center .gallery1 {
  grid-area: 1 / 1 / 6 / 3;
  min-height: 300px;
  display: flex;
  overflow: hidden;
  background-image: url(../../../../assets/images/media_center/gallery1.png) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* Edit Video Player */
.plyr {
  min-width: 100% !important;
  min-height: 100% !important;
}
.plyr__control--overlaid {
  background-color: transparent !important;
  border: 5px solid #fff !important;
}
.three-divisions .media-center .gallery1 .plyr__poster {
  background-image: url(../../../../assets/images/media_center/gallery1.png) !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}








.three-divisions .media-center .gallery2 {
  grid-area: 1 / 3 / 4 / 4;
  background-image: url(../../../../assets/images/media_center/gallery2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.three-divisions .media-center .gallery3 {
  grid-area: 4 / 3 / 6 / 4;
  background-image: url(../../../../assets/images/media_center/gallery3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.three-divisions .media-center .gallery4 {
  grid-area: 6 / 2 / 8 / 4;
  background-image: url(../../../../assets/images/media_center/gallery5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.three-divisions .media-center .gallery5 {
  grid-area: 6 / 1 / 8 / 2;
  background-image: url(../../../../assets/images/media_center/gallery4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.three-divisions .media-center .gallery:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 2px 12px #00000015;
}


.styles-module_wrapper__1I_qj {
  border-radius: 0px !important;
  z-index: 99 !important;
  background: rgba(0, 0, 0, 0.7) !important;
  backdrop-filter: blur(15px);}

@media screen and (max-width: 800px) {
  .styles-module_wrapper__1I_qj {
    width: 100% !important;
    left: 0px !important;
  }  
}






.three-divisions .community-news {
  /* z-index: 2; */
  width: calc(100% / 3);
}
.three-divisions .community-news .news_organization_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.three-divisions .community-news .news {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  gap: 0px;
}


.three-divisions .community-news .news .box:not(:last-child) {
  margin-bottom: 20px;
}
.three-divisions .community-news .news .box .title {
  font-weight: 400;
  font-size: 1.4em;
  margin-bottom: 5px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.three-divisions .community-news .news .box .description {
  font-size: 0.8em;
  line-height: 1.4;
  margin-bottom: 10px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.three-divisions .community-news .news .box .by {
  display: flex;
  align-items: center;
  gap: 5px;
}
.three-divisions .community-news .news .box .by img{
  border: 3px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--third-color);
}
.three-divisions .community-news .news .box .by div {

}
.three-divisions .community-news .news .box .by div p:first-child {
  font-size: 0.9em;
}
.three-divisions .community-news .news .box .by div p:last-child {
  font-size: 0.7em;
}


.three-divisions .community-news .organization-documents-container .boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 7px;
  padding: 0;
}
.three-divisions .community-news .organization-documents-container .oranization-documents {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 12px #00000010;
  cursor: pointer;
  transition: .3s;
}
.three-divisions .community-news .organization-documents-container .oranization-documents:hover {
  background-color: var(--third-color);
}

.three-divisions .community-news .organization-documents-container .boxs .oranization-documents > div {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.three-divisions .community-news .organization-documents-container .boxs .oranization-documents > div svg g * {
  fill: var(--main-color);
}
.three-divisions .community-news .organization-documents-container .boxs .oranization-documents p {
  font-size: 0.9em;
  color: var(--text-color);
}




@media screen and (min-width: 1700px) {
  
  .three-divisions .community-news .organization-documents-container .boxs .oranization-documents > div {
    width: 37px;
    height: 37px;
  }
  .three-divisions .community-news .organization-documents-container .boxs .oranization-documents img {
    width: 22px;
  }
  
  .three-divisions .community-news .news .box .title {
    font-size: 1.4em;
    margin-bottom: 7px !important;
  }
  .three-divisions .community-news .news .box .by img {
    width: 50px;
  }
  .three-divisions .community-news .news .box .by div p:last-child {
    font-size: 1em;
  }
}




@media screen and (min-width: 1500px) {
  .three-divisions .community-news .organization-documents-container .boxs .oranization-documents p {
    font-size: 1.2em;
    color: var(--text-color);
  }
  .three-divisions .community-news .organization-documents-container .boxs {
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 15px;
  }
  .three-divisions .community-news .news .box .description {
    font-size: 1.1em;
    line-height: 1.5;
  }
  .three-divisions .community-news .news .box .by div p:first-child {
    font-size: 1em;
  }
  .three-divisions .community-news .news .box .by div p:last-child {
    font-size: 0.85em;
  }
  
  .three-divisions .media-center .gallerys {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    height: calc(100% - 60px);
  }
  .three-divisions .media-center .gallerys div {
    border-radius: 10px;
  }

  .three-divisions .community-news .organization-documents-container .oranization-documents {
    display: flex;
    align-items: center;
    gap: 7px;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 12px #00000010;
    cursor: pointer;
  }
  .three-divisions .community-news .news .box .title {
    font-size: 1.3em;
  }
  .three-divisions .community-news .news .box .by img {
    width: 45px;
  }
}





@media screen and (max-width: 1190px) {
  .three-divisions {
    gap: 25px;
  }
}









@media screen and (max-width: 800px) and (min-width: 500px) {
  .news_organization_container {
    display: flex;
    flex-direction: row !important;
    gap: 25px;
  }

  .news_organization_container .news {
    flex-basis: 50%;
  }

  .news_organization_container .organization-documents-container {
    flex-basis: 50%;
    margin: 0 !important;
  }
  .three-divisions .community-news .organization-documents-container .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 10px;
  }
  .three-divisions .community-news .news {
    gap: 0 !important;
  }
  .three-divisions .community-news .organization-documents-container .oranization-documents {
    padding: 10px;
  }
  .three-divisions .media-center .header h3, .three-divisions .community-news .header h3 {
    font-size: 1.2em;
    font-weight: 400;
  }
  .three-divisions .media-center .header a, .three-divisions .community-news .header a {
    font-size: 0.9em;
  }
  .three-divisions .community-news .news .box .title {
    font-size: 1em;
    margin-bottom: 2px !important;
  }
  .three-divisions .community-news .news .box .description {
    font-size: 0.6em;
    line-height: 1.1;
    margin-bottom: 7px !important;
  }
}








.three-divisions .twitter-wid {
  /* z-index: 2; */
  width: calc(100% / 3);
  height: 100%;
}
.three-divisions .twitter-wid iframe {
  height: calc(100vh - 125px) !important;
}
/* iframe.twitter-timeline-rendered {
  height: calc(100vh - 120px) !important;
  
} */

/* @media screen and (max-width: 1700px) and (min-width: 1500px) {
  iframe.twitter-timeline-rendered {
    height: 640px !important;
  }
} */
@media screen and (max-width: 1499px) and (min-width: 890px) {
  iframe.twitter-timeline-rendered {
    height: calc(100vh - 35px) !important;
  }
}








@media screen and (max-width: 800px) {
  
  .three-divisions {
    flex-wrap: wrap;
    margin: 10px;
  }
  .three-divisions .media-center {
    width: 100vw;
    margin: 25px 0 0 0;
  }
  .three-divisions .community-news {
    width: 100vw;
  }
  .three-divisions .twitter-wid {
    display: none;
  }
  
}



@media screen and (max-width: 500px) {
  .three-divisions .community-news .organization-documents-container .boxs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 10px;
    padding: 0;
  }
}

