.navbar {
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background: rgb(255,255,255);
  z-index: 3;
}


.navbarOnScroll {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 2;
}



.navbar img.logoSALIC {
  position: relative;
  top: -2px;
  left: 9px;
  max-width: 200px;
}
.navbar img.logo_2030 {
  position: absolute;
  left: 230px;
  top: 50%;
  max-width: 45px;
  transform: translateY(-50%);
  opacity: 0.2;
}


@media screen and (max-width: 320px){
  .navbar img.logoSALIC {
    max-width: 120px;
    left: 0;
  }
  .navbar {
    justify-content: end;
  }
}
@media screen and (max-width: 375px){
  .navbar img.logoSALIC {
    max-width: 165px;
    left: 0;
  }
}


@media screen and (max-width: 800px){
  .navbar {
    justify-content: center;
  }
  .navbar div {
    display: none;
  }
  .navbar img.logoSALIC {
    position: relative;
    top: -2px;
    left: 0;
    width: 360px;
  }

  .navbar img.logo_2030 {
    display: none;
  }
}