.user-panel-container {
  display: flex;
  align-items: center;
  height: 50px;
  gap: 25px;
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 25px;
}
.user-panel-container .icons {
  display: flex;
  gap: 15px;
  position: relative;

}
.user-panel-container .icons a {
  position: relative;
}
.user-panel-container .icons a .badge {
  max-height: 15px;
  font-size: 0.65rem;
  font-weight: 600;
}
.user-panel-container .icons img {
  width: 20px;
  transition: var(--main-animation-duration);
}
.user-panel-container .icons img:hover {
  opacity: 0.7;
}

.user-panel-container .user-info {
  display: flex;
  align-items: center;
  gap: 15px;
}
.user-panel-container .user-info h2 {
  font-weight: 400;
  font-size: 1.2rem;
}
.user-panel-container .user-info img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  box-shadow: 0 3px 5px #00000010;
  border: 3px solid #fff;
  cursor: pointer;
}

